@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f0d02a;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}
/* navigation */
nav {
  background-image: linear-gradient(180deg, #2c2c2c93, transparent);
  /* background-color: rgba(51, 51, 51, 0.288); */
  height: 16vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.nav {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.underline {
  height: 1px;
  width: 20px;
  background-color: #fff;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 35%;
  font-size: 0.8rem;
}
.navigation ul li {
  transition: ease 0.4s all;
}
.navigation ul > * {
  text-decoration: none;
  color: #fff;
}
.navigation ul li:hover {
  color: #b3b37d;
}
.logo {
  display: flex;
  align-items: center;
}
/* main section home page */
.main-first {
  background-image: url(./MarketMe/images/our-service-background.jpg);
  background-position: center;
  background-size: cover;
  height: 615px;
}
/* .top-frame {
  width: 85%;
  height: 450px;
  border: 2px solid #fff;
   border-image-source: url(MarketMe/images/background-frame.jpg);
  border-image-slice: 250;
  border-image-width: 25px;
  margin: auto;
} */
.top-frame {
  padding: 130px;
}
.top-text h2,
.bottom-text h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 4.5rem;
  font-weight: 300;
  /* color: #6d6c31; */
  color: #fff;
}
.top-text {
  margin: 0px 60px 30px;
}
.bottom-text {
  display: flex;
  justify-content: flex-end;
  margin: 30px 60px 10px;
}
.separator {
  background-color: #fff;
  height: 3px;
  width: 80%;
  margin: auto;
}
.overlay {
  background-color: rgba(61, 53, 42, 0.404);
  height: 100%;
  width: 100%;
}
/* second main section home page  */

.main-second-overlay {
  background-color: rgba(0, 0, 0, 0.315);
  z-index: 10;
}

.main-second {
  background-color: #f1f0c6;
}
.market-me-about {
  display: flex;
}
.about-text {
  width: 50%;
  color: #303142;
  margin-top: 80px;
}
.header-about {
  margin-bottom: 50px;
}
.about-text h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5px;
}
.header-underline {
  width: 120px;
  height: 1px;
  background-color: #462b44;
  margin: auto;
}
.about-text-para {
  font-size: 1.1rem;
  text-align: center;
  width: 65%;
  margin: auto;
  line-height: 2.3;
}
.market-me-image {
  width: 50%;
  display: flex;
  justify-content: center;
}
.market-me-image img {
  width: 100%;
}
/* ourwork  */

.our-work-header h2 {
  font-size: 2.5rem;
  color: #4f4c4c;
  text-transform: uppercase;
  text-align: center;
}
.our-work-header {
  width: 40%;
  margin: 0 auto 60px;
}
.our-work-underline {
  background-color: #b1b08d;
  height: 2px;
  width: 200px;
  margin: auto;
}
.our-work-body {
  background-color: #f4f4f4;
  padding-top: 60px;
}
.our-work-para {
  background-color: #e5e5e5;
  width: 60%;
  margin: 0 auto 150px;
  font-size: 0.7rem;
  color: #4f4c4c;
  padding: 28px;
  border-radius: 3px;
}
.our-work-para p {
  width: 70%;
  margin: auto;
  text-align: center;
  line-height: 1.9;
}
.gold {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #9d9b32;
  font-weight: 600;
  display: block;
  text-align: center;
}
.main-third {
  margin: 80px 0 60px;
}
.our-work-peices button {
  background: none;
  font-size: 2rem;
  border: none;
  color: #9d9b32;
}
.our-work-peices .fas {
  position: absolute;
}
.our-work-peices {
  /* background-color: aquamarine; */
  width: 70%;
  margin: auto;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.work-peice {
}
.work-peice,
.work-peice img {
  border-radius: 5px;
}
.our-work-peices .fa-chevron-left {
  top: 34%;
  left: 28%;
}
.our-work-peices .fa-chevron-right {
  top: 34%;
  right: 28%;
}
.our-work-peices .work-peice {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* our client  */
.our-client-header h2 {
  font-size: 2.5rem;
  color: #4f4c4c;
  text-transform: uppercase;
  text-align: center;
}
.our-client-header {
  width: 40%;
  margin: 0 auto 60px;
}
.client-list img {
  width: 100%;
  height: 400px;
}
.our-client {
  padding-bottom: 60px;
}
/* our team  */

.our-team-header {
  width: 40%;
  margin: 0 auto 60px;
}
.our-team-header h2 {
  font-size: 2.5rem;
  color: #4f4c4c;
  text-transform: uppercase;
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  position: relative;
}

.team-list button {
  background: none;
  font-size: 2rem;
  border: none;
  color: #303142;
}
.team-list .fa-chevron-left {
  top: 47%;
  left: 30%;
}
.team-list .fa-chevron-right {
  top: 47%;
  right: 30%;
}
.team-list .fas {
  position: absolute;
}
.gold2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #9d9b32;
  font-weight: 600;
}
.our-team-para {
  padding-top: 40px;
}
.our-team-para big {
  font-weight: 600;
}
.our-team-para p {
  width: 50%;
  margin: 30px auto;
  text-align: center;
  background-color: #cecdb4c7;
  padding: 20px 15px;
  color: #3f405a;
  border-radius: 4px;
}
.team-cont {
  background-color: #dad9be;
}
/* contact form  */
.contact-form-header {
  width: 40%;
  margin: 40px auto 60px;
}
.contact-form-header h2 {
  font-size: 2.5rem;
  color: #4f4c4c;
  text-transform: uppercase;
  text-align: center;
}
.contact-form-para {
  text-align: center;
  color: #4f4c4c;
  margin-bottom: 60px;
}
.form-holder {
  display: flex;
  justify-content: space-around;
}
.form-left textarea {
  resize: none;
  width: 250px;
  height: 60px;
}
.form-holder input:not(input[type="submit"]),
.form-left textarea {
  background-color: #f4f4f4;
  border: #e5e5e5 1px solid;
  outline: none;
  padding: 5px 6px;
  border-radius: 3px;
}
.form-holder input:not(input[type="submit"]):focus,
.form-left textarea:focus {
  outline: #929292 1px solid;
  transition: all 1s ease;
  border-radius: 3px;
}
.name,
.email,
.subject,
.message {
  display: flex;
  flex-direction: column;
  margin: 22px;
  color: #949494;
}
.name label,
.email label,
.subject label,
.message label {
  font-size: 0.8rem;
}
.contact-right {
  margin-block: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-right .upper p {
  margin: 15px 0;
  color: #6e6e6e;
}
.contact-right .lower p {
  margin: 15px 0;
  color: #6e6e6e;
}
.form-holder input[type="submit"] {
  margin-top: 18px;
  background-color: #e6e6d8;
  color: #4f4c4c;
  border: none;
  outline: none;
  padding: 6px 0;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1px;
  transition: all ease-in-out 0.4s;
}
.form-holder input[type="submit"]:hover {
  background-color: #b1b08d;
  color: #fff;
}
/* footer  */

footer {
  background-color: #686734;
  height: 160px;
  color: #f4f4f4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  border-radius: 30px 30px 0 0;
}
.right-side p {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.right-side .brands {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.right-side .brands i {
  font-size: 1.2rem;
}
